body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

/* phần HEADER */
/* LOGO-TOP */

.header {
    height: 150px;
}

.section1 {
    background-color: #fff;
    height: 50%;
    display:flex;
    align-items: center;    
    justify-content:end;
    position: relative;
}

.logotop {
    position: absolute;
    left: 45%;
    display: flex;
    padding: 0;
    justify-content: center;
    list-style-type: none;
    background-color: none;
    height: 100%;
    margin: 0;
}

.sign-in-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a; /* Màu nền của nút */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    height: 60%;
}

.sign-in-btn .icon {
    margin-right: 10px; /* Khoảng cách giữa biểu tượng và chữ */
    font-size: 18px;
}

.sign-in-btn:hover {
    background-color: #333; /* Màu nền khi hover */
}


/* nút Home */

.back-home {
    position: absolute;
    left: 7%;
    top: 25%;
    height: 50%;

}

.back-home:hover {
    height: 55%;
}

/* 5 nút chức năng */

.section2 {
    position: relative;
    background-color: red;
    height: 50%;
    display: flex;
    justify-content: center;
}


.chucnang {
    list-style-type: none;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;

}

.li1 {
    height: 100%;
    width: auto;
}

.thongtin {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}

.link-thongtin {
    color: #fff;
    text-decoration: none;
    font-size: 16;
    text-transform: none;
    font-weight: bold;
}

.sub-thongtin {
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 10px 0 10px 0;
    justify-content: center;
    align-items: center;
    background-color: black;
    display: none;
    z-index: 1;
}

.thongtin:hover {
    background-color: black;
}

.sub-thongtin li {
    margin: 10px;
}

.sub-thongtin li a {

    color: #fff;
    text-decoration: none;

    text-transform: none;
    font-weight: bold;
}

.thongtin:hover .sub-thongtin {
    display: flex;
    flex-direction: column;
}

.sub-thongtin li a:hover {
    text-decoration: underline;
    text-decoration-color: red;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.truongdua {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px 0 50px;
}

.truongdua:hover {
    background-color: black;
}



/* phần MAIN */


.sec-home {
    display: block;
    width: 100%;
    height: 630px;
    margin: 0;
    padding: 0;
    position: relative;
}

.sec-home img {
    height: 100%;
    width: 100%;
    padding-top: 0px;
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 0, 0);
    font-size: 5em;
    text-align: center;
    z-index: 1;
    text-shadow: 2px 0 #ffffff, -2px 0 #ffffff, 0 2px #ffffff, 0 -2px #ffffff,
    1px 1px #ffffff, -1px -1px #ffffff, 1px -1px #ffffff, -1px 1px #ffffff;
}

.ranking{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
    background-color: #ff0000;
}

.top2, .top1, .top3 {
    border: rgb(255, 246, 246) 5px solid;
    margin: 10px;
    border-radius: 20px;
}

.top1:hover, .top2:hover, .top3:hover {
    border-color: black;
}

.top2 img, .top3 img {
    max-width: 17vw;
    max-height: 17vw;
}

.top1 img {
    max-width: 20vw;
    max-height: 20vw;
}

.name {
    text-align: center;
    font-size: 2vw;
}

.schedule-content{
    background-color: black;
    color: white;
    padding: 1vw;
    align-items: center;
    text-align: center;
}

.schedule-title{
    font-size: 3vw;
}

.detail-schedule{
    color: white;
    margin-top: 2vw;
    border: #fff 3px solid;
    border-width: 5px;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

.detail-schedule:hover {
    border-color: red;
}

#footer{
    width: 100%;
    background-color: black;
    color: white;
}

#app-download{
    margin-top: 1vw;
    display: flex;
}

#app-download a img{
    width: 10vw;
    height: 3vw;
}

#app-download p{
    margin: 0;
    margin-left: 5vw;
    width: 10vw;
    font-size: 1.2vw;
}

#social-link{
    display: flex;
    margin-left: 50%;
    margin-top: 1vw;
}

#social-link a img{
    margin: 0.3vw;
    width: 2vw;
    height: 2vw;
    border:1px solid rgb(255, 255, 255);
    padding: 1px;
}

#copy-right{
    position: absolute;
    right: 0;
    margin-right: 3vw;
    font-size: 1vw;
}