/* Combo box (select) styling */
#raceTrack {
    width: 200px; /* Độ rộng của combo box */
    padding: 5px;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
/* Giới hạn chiều cao tối đa của combo box */
#raceTrack {
    overflow-y: auto; /* Thanh cuộn dọc */
}
td {
    padding: 12px 15px;
    font-size: 18px; /* Đảm bảo chữ hiển thị lớn */
    color: #000; /* Đảm bảo màu chữ là đen */
}
