/* Combo box (select) styling */
#raceTrack {
    width: 200px; /* Độ rộng của combo box */
    padding: 5px;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
/* Giới hạn chiều cao tối đa của combo box */
#raceTrack option {
    max-height: 10px; /* Giới hạn chiều cao của combo box */
    overflow-y: auto;  /* Tạo thanh cuộn dọc khi danh sách quá dài */
}
/* Thanh cuộn cho combo box */
#raceTrack {
    overflow-y: auto; /* Thanh cuộn dọc */
}
#raceTrack option::-webkit-scrollbar {
    width: 10px;
}
#raceTrack option::-webkit-scrollbar-thumb {
    background-color: #888; /* Màu thanh cuộn */
    border-radius: 10px;
}
#raceTrack option::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Màu khi hover vào thanh cuộn */
}
#raceTrack option::-webkit-scrollbar-track {
    background: #f1f1f1; /* Màu nền của thanh cuộn */
}