<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="Image/Static/F1-logo.png" />
    <link rel="stylesheet" href="FrontEnd/Tracks/tracks.css">
    <title>Trường đua</title>
</head>


<body>
    <header class="header"> 
        <section class="section1">
            <ul class="logotop">
                <li class="li1"><a href="https://www.fia.com" target="_blank"><img src="/Image/Logo/fialogo.png" alt="LogoFIA" class="li1"></a></li>
                <li class="li1"><a href="https://www.formula1.com" target="_blank"><img src="/Image/Logo/formulaf1.png" alt="LogoF1" class="li1"></a></li>
            </ul> 
        </section>
        <section class="section2">
            <ul class="chucnang">
                <li class="truongdua">
                    <a href="/" class="back-home"><img src="/Image/Logo/f1logo2.png" alt="Home"></a>
                </li>
                <li class="thongtin">
                    <a href="#" class="link-thongtin">Thông tin</a>
                    <ul class="sub-thongtin">
                        <li><a href="#" id="tay-dua">Tay đua</a></li>
                        <li><a href="#" id="doi-dua">Đội đua</a></li>  
                    </ul>
                </li>
                <li class="truongdua"><a href="/duong-dua" class="link-thongtin">Trường đua</a></li>
                <li class="truongdua"><a href="#" class="link-thongtin">Lịch thi đấu</a></li>
                <li class="truongdua"><a href="#" class="link-thongtin">Kết quả</a></li>
                <li class="truongdua"><a href="#" class="link-thongtin">Xếp hạng</a></li>
            </ul> 
        </section>
    </header>
    <div id="main-content">
            <% for (let i = 0; i < result.length; i+=4){ %>
                <div class="row">
                <% for (let j = i; j < i+4; j++){ %>
                    <a href="/duong-dua/<%= result[j].ID %>" class="tracks">
                        <img class="tracks-basic" src="<%= result[j].BasicImage %>" alt="">
                        <div class="tracks-name"><%= result[j].Name %></div>    
                    </a>
                <% } %>
                </div>
            <% } %>
    </div>
    
    <div id="footer">
        <div style="display: flex;">
            <div id="app-download">
                <p>DOWNLOAD THE OFFICIAL F1 APP</p>
                <a href="https://play.google.com/store/apps/details?id=com.softpauer.f1timingapp2014.basic&hl=en_GB&pli=1">
                    <img src="/Image/Static/google-play-badge.png" alt="">
                </a>
                <a href="https://apps.apple.com/gb/app/formula-1/id835022598">
                    <img src="/Image/Static/download-on-the-app-store-apple.png" alt="">
                </a>
            </div>
            <div id="social-link">
                <a href="https://www.facebook.com/Formula1"><img src="/Image/Static/facebook.png" alt=""></a>
                <a href="https://x.com/f1"><img src="/Image/Static/x.jpg" alt=""></a>
                <a href="https://www.instagram.com/f1/"><img src="/Image/Static/instagram.png" alt=""></a>
                <a href="https://www.youtube.com/F1"><img src="/Image/Static/youtube.png" alt=""></a>
            </div>
        </div>
        <div style="display: flex; margin-top: 0.5vw;">
            <img style="margin-left: 5vw; height: 2vw;" src="/Image/Logo/f1logo2.png" alt="">
            <div id="copy-right">© 2003-2024 Formula One World Championship Limited</div>
        </div>
    </div>

    <script src="FrontEnd/Tracks/tracks.js"></script>
</body>
