body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

/* phần HEADER */
/* LOGO-TOP */

.header {
    height: 150px;
}

.section1 {
    background-color: #fff;
    height: 50%;
    display:flex;
    align-items: center;    
    justify-content:end;
    position: relative;
}

.logotop {
    position: absolute;
    left: 45%;
    display: flex;
    padding: 0;
    justify-content: center;
    list-style-type: none;
    background-color: none;
    height: 100%;
    margin: 0;
}

.sign-in-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a; /* Màu nền của nút */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    height: 60%;
}

.sign-in-btn  {
    margin-right: 10px; /* Khoảng cách giữa biểu tượng và chữ */
    font-size: 15px;
    position: relative;
}
.icon{
    margin-right: 10px; /* Khoảng cách giữa biểu tượng và chữ */
    font-size: 30px;
}
.hover-text {
    width: 100%;
    display: none; /* Ẩn div này theo mặc định */
    position: absolute; /* Để định vị nó bên dưới nút */
    bottom: -100%; /* Điều chỉnh khoảng cách từ nút đến div */
    background-color: black; /* Hoặc màu nền bạn muốn */
    border: 1px solid #ccc; /* Tùy chọn thêm viền */
    
    z-index: 1; /* Đảm bảo nó nằm trên các thành phần khác */
}

.sign-in-btn:hover .hover-text {
    display: block; /* Hiển thị khi hover */
}

.sign-in-btn:hover {
    background-color: #333; /* Màu nền khi hover */
}


/* nút Home */

.back-home {
    position: absolute;
    left: 7%;
    top: 25%;
    height: 50%;

}

.back-home:hover {
    height: 55%;
}

/* 5 nút chức năng */

.section2 {
    position: relative;
    background-color: red;
    height: 50%;
    display: flex;
    justify-content: center;
}


.chucnang {
    list-style-type: none;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;

}

.li1 {
    height: 100%;
    width: auto;
}

.thongtin {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}

.link-thongtin {
    color: #fff;
    text-decoration: none;
    font-size: 16;
    text-transform: none;
    font-weight: bold;
}

.sub-thongtin {
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 10px 0 10px 0;
    justify-content: center;
    align-items: center;
    background-color: black;
    display: none;
    z-index: 1;
}

.thongtin:hover {
    background-color: black;
}

.sub-thongtin li {
    margin: 10px;
}

.sub-thongtin li a {

    color: #fff;
    text-decoration: none;

    text-transform: none;
    font-weight: bold;
}

.thongtin:hover .sub-thongtin {
    display: flex;
    flex-direction: column;
}

.sub-thongtin li a:hover {
    text-decoration: underline;
    text-decoration-color: red;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.truongdua {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px 0 50px;
}

.truongdua:hover {
    background-color: black;
}



/* phần MAIN */

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #ddd;
}

.fix-btn{
    width:60px;
    height: 60px;
    margin:0;
    padding:0;
    
}
